<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/tumblr.css">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/javascripts/tumblr.js"></script>
    <title><%= data.response.blog.url %></title>
  </head>
  <body>
    <header data-url= "<%= data.response.posts[0].trail[0].blog.theme.header_image %>">
      <img class="profile_img" src="http://api.tumblr.com/v2/blog/<%= data.response.blog.name %>.tumblr.com/avatar/96">
      <h1 class="header_name name"><%= data.response.blog.title %></h1>
      <h2 class="header_name screen_name"><a href="<%= data.response.blog.url %>" target="_blank"><%= data.response.blog.url %></a></h2>
    </header>


    <%
      data.response.posts.forEach(function(feed){
    %>
        <div class="panel panel-default">
          <div class="panel-body">
        <%
        var content;
        switch(feed.type){
          case "photo":
          case "video":
            content = feed.caption;
            break;
          case "text":
            content = feed.body;
            break;
        }

        if(feed.permalink_url){
          var content_video =
            "<div class='content_video'><a href='"+feed.permalink_url+"' target='_blank'><div class='play_btn'></div><div class='btn_p'> ▶</div><img class='content_video_thumb' src='"+feed.thumbnail_url+"'></a></div>";

          content = content_video+content;
        }
        if(feed.photos){
          feed.photos.forEach(function (photo) {
            var content_pics=
              "<img class='feed_img' src='"+photo.alt_sizes[2].url+"'>"

            content = content_pics+content
          })
        }
        content=content.replace("img src","img class='feed_img' src");
        %>
          <div class="feed_div">
            <p class="feed_content" data-content="<%= content %>"></p>
            <p class="feed_time" data-time="<%= feed.date %>"></p>
          </div>
          </div>
          </div>

        <%

      })

    %>

  </body>
</html>
