<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>weather</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/weather.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>

    <div class="weather">

      <div class="panel panel-default">
          <div class="panel-heading"><p>
            Location: <%=data.sys.country%>, <%=data.name%></p>
          </div>
      </div>
      <div class="panel-body">
        <ul id="data">
          <li>Description: <%=data.weather[0].main%></li><br>
          <li>Temperature: <%=data.main.temp%> °F</li><br>
          <li>Humidity: <%=data.main.humidity%>%</li><br>
          <li>Cloudiness: <%=data.clouds.all%>%</li><br>
          <li>Wind Speed: <%=data.wind.speed%></li>
        </ul>
       </div>
    </div>

  </body>
</html>
