<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <title><%= (last_name)?(first_name+" "+last_name):(first_name) %>'s Info</title>
  </head>
  <body>
    <h1><%= (last_name)?(first_name+" "+last_name):(first_name) %>'s Info</h1>
    <ul>
      <% if(login_type=="local"){ %>
        <li>First Name : <%= first_name %></li>
        <li>Last Name : <%= first_name %></li>
        <li>Email : <%= email %></li>
      <% } else { %>
        <li>Name : <%= first_name+" "+last_name %></li>
      <% } %>
      <li>Account Type : <%= login_type %></li>
    </ul>
    <% if(login_type=="local"){ %>
      <a href="/users/<%=id%>/edit">Edit my Info</a><br>
      <form action="/users/<%=id%>" method="post" style="display:inline-block">
        <input type="hidden" name="_method" value="delete">
        <a href="#" class="submit" data-confirm="Are you sure?">Delete my account</a>
      </form>
    <% } %>
    <br><br>
    <a href="/">Back</a>
  </body>
</html>
